* {


}


div {
    display: flex;


}

label {

}

.container1 {
    justify-content: flex-start;


}
.container2{
    align-content: flex-end;
}

.pic {

}

.option {

}
.container3{
    display: flex;
}