{% extends 'base.html' %}

{% block title %}AGB{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/message.css') }}">
{% endblock %}

{% block content %}
    <h1 class="dataschutz">Allgemeine Geschäftsbedingungen (AGB) für Velorée Online-Shop</h1>
    <pre class="datatext">
    1. Geltungsbereich
    Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Bestellungen, die über unseren Online-Shop
    unter www.veloree-shop.ch getätigt werden. Mit der Bestellung von Produkten in unserem Shop erklären Sie sich mit diesen AGB einverstanden.

    2. Vertragspartner und Vertragsschluss
    Der Kaufvertrag kommt zustande mit:

    Velorée GmbH
    Neue Hard 9, 8005 Zürich, Schweiz
    Telefon: +41 86 234 33 20
    E-Mail: velorée.shop@zkb.ch

    Durch das Absenden der Bestellung über den Button „Jetzt kaufen“ geben Sie ein verbindliches Angebot zum
    Kauf der im Warenkorb befindlichen Artikel ab. Wir bestätigen den Eingang Ihrer Bestellung per E-Mail. Der Kaufvertrag kommt erst mit unserer ausdrücklichen
    Bestätigung oder dem Versand der Ware zustande.

    3. Preise und Zahlungsbedingungen
    Alle Preise sind in CHF angegeben und enthalten die gesetzliche Mehrwertsteuer.

    Folgende Zahlungsmethoden bieten wir an:

    Kreditkarte (Visa, Mastercard)
    PayPal
    Twint
    Vorkasse
    Der Versand erfolgt erst nach vollständigem Zahlungseingang.

    4. Lieferung und Versandkosten
    Wir liefern innerhalb der Schweiz und der EU. Die Versandkosten werden im Bestellprozess angezeigt.
    Die Lieferzeit beträgt in der Regel 2–5 Werktage. Sollte ein Artikel nicht verfügbar sein, informieren wir Sie umgehend.

    5. Widerrufsrecht & Rückgabe
    Sie haben das Recht, Ihre Bestellung innerhalb von 14 Tagen nach Erhalt ohne Angabe von Gründen zu widerrufen.
    Die Rücksendekosten sind vom Käufer zu tragen. Die Ware muss unbenutzt und originalverpackt zurückgesendet werden.

    Zur Rücksendung kontaktieren Sie uns bitte per E-Mail: velorée.shop@zkb.ch.

    6. Gewährleistung und Haftung
    Die gesetzlichen Gewährleistungsrechte gelten. Offensichtliche Mängel sind innerhalb von 7
    Tagen nach Erhalt der Ware zu melden. Für Schäden durch unsachgemäße Nutzung übernehmen wir keine Haftung.

    7. Datenschutz
    Ihre Daten werden ausschließlich zur Bestellabwicklung und zur Verbesserung unseres Services verwendet.
    Weitere Informationen finden Sie in unserer Datenschutzerklärung.

    8. Anwendbares Recht und Gerichtsstand
    Es gilt das Schweizer Recht. Gerichtsstand für alle Streitigkeiten ist Zürich.

    9. Kontakt
    Bei Fragen oder Beschwerden erreichen Sie uns unter:
    E-Mail: velorée.shop@zkb.ch
    Telefon: +41 86 234 33 20
    </pre>
{% endblock %}