<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
  {% block extra_styles %}{% endblock %}
</head>

<body>
    <div class="gutscheinhr">
    <h2 class="gutschein">Gutscheincode "2025" ab Einkauf über 100CHF</h2>

    </div>
<nav>
    <div class="iconcontainer">

        <div class="iconLeft">
            <a href="{{ url_for('menu') }}">
                 <img class="paula" src="{{ url_for('static', filename='pictures/OIP.jpg') }}" alt="Menü" width="30" height="30">
            </a>
    </div>

    <div class="logo">
    <img class="paula" src="{{ url_for('static', filename='pictures/Logo.png') }}" alt="Logo" width="260" height="200">
        </div>

        <div class="iconRight">
            <img class="paula" src="{{ url_for('static', filename='pictures/suche.png') }}" alt="Suche" width="30" height="30">
            <a href="{{ url_for('konto') }}">
                <img class="paula" src="{{ url_for('static', filename='pictures/konto.jpg') }}" alt="Konto" width="30" height="30">
            </a>
            <a href="{{ url_for('warenkorb') }}">
                <img class="paula" src="{{ url_for('static', filename='pictures/warennkorb.jpg') }}" alt="Warenkorb" width="40" height="40">
            </a>
    </div>
        </div>


{#            <a href="{{ url_for('ueberuns') }}">Über uns</a>#}
{#            <a href="{{ url_for('frauen') }}">Frauen Parfüm</a>#}
{#            <a href="{{ url_for('maenner') }}">Männer Parfüm</a>#}
{#            <a href="{{ url_for('unisex') }}">Unisex Parfüm</a>#}
{#            <a href="{{ url_for('zahlungsversand') }}">Zahlung und Versand</a>#}


    <main class="content">
        {% block content %}
        <p>Hier kommt der Inhalt der Seite rein.</p>
        {% endblock %}
    </main>

    <div class="container">

    <hr class="linie2">
    <div class="bottom">

        <h3>AGB</h3>
        <h3>Datenschutzerklärung</h3>
        <h3>©</h3>
        <h3>Hilfe</h3>
{#        <img src="{{ url_for('static', filename='pictures/instagram.png') }}" alt="Insta" width="30" height="30">#}
        </div>


    </div>



</nav>


</body>

</html>