<!-- /templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}">Menü</a></li>
            <li><a href="{{ url_for('konto') }}">Konto</a></li>
            <li><a href="{{ url_for('warenkorb') }}">Warenkorb</a></li>
            <li><a href="{{ url_for('ueberuns') }}">Über uns</a></li>
            <li><a href="{{ url_for('frauen') }}">Frauen Parfüm</a></li>
            <li><a href="{{ url_for('maenner') }}">Männer Parfüm</a></li>
            <li><a href="{{ url_for('unisex') }}">Unisex Parfüm</a></li>
            <li><a href="{{ url_for('zahlungsversand') }}">Zahlung und Versand</a></li>

        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>