{% extends 'base.html' %}

{% block title %}Datenschutzerklärung{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/message.css') }}">
{% endblock %}

{% block content %}
    <h1 class="dataschutz">Datenschutzerklärung</h1>
        <pre class="datatext">
        Der Schutz deiner persönlichen Daten ist uns sehr wichtig. In dieser Datenschutzerklärung informieren wir dich
        darüber, wie wir deine personenbezogenen Daten erheben, verarbeiten und nutzen, wenn du unseren Online-Shop
        besuchst und dort einkaufst. Wir behandeln deine Daten mit größter Sorgfalt und gemäß den geltenden
        Datenschutzgesetzen.

        1. Verantwortlicher
            Verantwortlich für die Verarbeitung deiner Daten ist:


        Velorée
        Neue Hard 9 8005
        +41 86 234 33 20
        velorée.shop@zkb.ch


        2. Erhebung und Verarbeitung von personenbezogenen Daten
        Wir erheben personenbezogene Daten, wenn du unseren Online-Shop besuchst oder Bestellungen tätigst. Dies
        umfasst:

        Bestellvorgang: Name, Adresse, E-Mail-Adresse, Telefonnummer, Zahlungsinformationen
        Nutzung der Webseite: IP-Adresse, Browsertyp, Zugriffszeiten, besuchte Seiten
        Kundenkonto: Deine Anmeldedaten (Benutzername, Passwort), Bestellhistorie
        Die Verarbeitung dieser Daten erfolgt zur Erfüllung des Kaufvertrages und zur Bereitstellung unserer
        Dienstleistungen. Wir verwenden die Daten ausschließlich für die Abwicklung von Bestellungen und zur
        Verbesserung unseres Serviceangebots.

        3. Verwendung von Cookies
        Unsere Website verwendet Cookies, um das Benutzererlebnis zu verbessern. Cookies sind kleine Textdateien, die
        auf deinem Endgerät gespeichert werden und es uns ermöglichen, deine Einstellungen und Präferenzen zu speichern.
        Du kannst die Speicherung von Cookies in deinen Browsereinstellungen deaktivieren, was jedoch die Funktionalität
        unserer Website beeinträchtigen kann.

        Weitere Informationen zu Cookies findest du in unserer Cookie-Richtlinie.

        4. Weitergabe von Daten an Dritte
        Wir geben deine personenbezogenen Daten nur dann an Dritte weiter, wenn dies zur Erfüllung des Vertrages
        notwendig ist, z. B. an Zahlungsdienstleister oder Versandunternehmen. Eine Weitergabe an Dritte zu Werbezwecken
        erfolgt nicht.

        Zahlungsanbieter: Zur Abwicklung von Zahlungen werden deine Zahlungsinformationen an die entsprechenden
        Zahlungsdienstleister weitergegeben.
        Versanddienstleister: Für den Versand deiner Bestellungen übermitteln wir deine Lieferadresse an die
        entsprechenden Versandunternehmen.
        5. Datenaufbewahrung
        Wir speichern deine personenbezogenen Daten nur so lange, wie es für die Erfüllung des Vertrags oder gesetzliche
        Aufbewahrungsfristen erforderlich ist. Nach Ablauf dieser Fristen werden deine Daten gelöscht.

        6. Rechte der betroffenen Person
        Du hast das Recht:

        Auskunft über die von uns gespeicherten personenbezogenen Daten zu erhalten.
        Berichtigung unrichtiger oder unvollständiger Daten zu verlangen.
        Löschung deiner Daten zu verlangen, soweit keine gesetzliche Aufbewahrungspflicht besteht.
        Einspruch gegen die Verarbeitung deiner Daten zu erheben, sofern keine zwingenden berechtigten Gründe für die
        Verarbeitung vorliegen.
        Datenübertragbarkeit zu verlangen, d. h., dass wir dir deine Daten in einem gängigen Format zur Verfügung
        stellen.
        Um eines dieser Rechte auszuüben, kannst du uns jederzeit kontaktieren.

        7. Datensicherheit
        Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um deine personenbezogenen Daten vor
        Verlust, Missbrauch und unbefugtem Zugriff zu schützen. Unsere Website ist durch eine SSL-Verschlüsselung
        geschützt, um eine sichere Datenübertragung zu gewährleisten.

        8. Änderungen der Datenschutzerklärung
        Wir behalten uns das Recht vor, diese Datenschutzerklärung von Zeit zu Zeit anzupassen, um sie an gesetzliche
        Änderungen oder Änderungen unseres Serviceangebots anzupassen. Die jeweils aktuelle Version ist auf unserer
        Website verfügbar.

        9. Kontakt
        Wenn du Fragen zum Datenschutz hast oder deine Rechte ausüben möchtest, kannst du uns unter folgender Adresse
        kontaktieren:

        Velorée
        Neue Hard 9 8005
        +41 86 234 33 20
        velorée.shop@zkb.ch
            </pre>


{% endblock %}