{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}

    <h1>L'innovation que vous adorez</h1>
    <div class="Images">
        <img class="Perfume3" src="{{ url_for('static', filename='pictures/perfumeall.png') }}" alt=""
             width="300" height="300">
        <img class="menperfumee" src="{{ url_for('static', filename='pictures/menperfume.png') }}" alt=""
             width="300" height="300">
        <img class="unisexperfumee" src="{{ url_for('static', filename='pictures/unisexperfume.png') }}" alt=""
             width="300" height="300">
        <img class="femmeperfumee" src="{{ url_for('static', filename='pictures/femmeperfume.png') }}" alt=""
             width="300" height="300">
    </div>


{% endblock %}