{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}

    <h1>L'innovation que vous adorez</h1>

    <a href="{{ url_for('parfumepage') }}">
        <img class="perfume3" src="{{ url_for('static', filename='pictures/alleperfume.jpg') }}">
        <div class="Infoalledreiperfume">
            <b>Dreier Bundle</b>
            <p>Eau de Parfum - 3 Flakons mit je 50 ml</p>
            <div class="rating">
                <span>★★★★☆</span>
                <span class="reviews">(1297)</span>
            </div>
            <div class="price-container">
                <p class="old-price">CHF 123.00</p>
                <p class="new-price">CHF 93.10</p>
            </div>
        </div>
    </a>

    <h2 class="kollektion">Summer Kollektion</h2>
     <div class="cart-line"></div>

    <div class="kleinep">
        <div class="KPmen">
            <img class="menperfumee" src="{{ url_for('static', filename='imagesZKB/HommeBlackBack.png') }}" alt="">
            <div class="infomen">
                <b>Velorée Homme</b>
                <p>Eau de Parfum - Flakon mit je 50 ml</p>
                <div class="rating">
                    <span>★★★★★</span>
                    <span class="reviews">(863)</span>
                </div>
                <div class="price-container">
                    <p class="old-price">CHF 54.95</p>
                    <p class="new-price">CHF 44.95</p>
                </div>
            </div>
        </div>

        <div class="KPfemme">
            <img class="femmeperfumee" src="{{ url_for('static', filename='imagesZKB/FemmeBlackBack.png') }}" alt="">
            <div class="infofemme">
                <b>Velorée Femme</b>
                <p>Eau de Parfum - Flakon mit je 50 ml</p>
                <div class="rating">
                    <span>★★★★☆</span>
                    <span class="reviews">(643)</span>
                </div>
                <div class="price-container">
                    <p class="old-price">CHF 54.95</p>
                    <p class="new-price">CHF 44.95</p>
                </div>
            </div>
        </div>

        <div class="KPunisex">
            <img class="unisexperfumee" src="{{ url_for('static', filename='imagesZKB/UnisexBlackBack.png') }}" alt="">
            <div class="infounisex">
                <b>Velorée Unisex</b>
                <p>Eau de Parfum - Flakon mit je 50 ml</p>
                <div class="rating">
                    <span>★★★☆☆</span>
                    <span class="reviews">(312)</span>
                </div>
                <div class="price-container">
                    <p class="old-price">CHF 54.95</p>
                    <p class="new-price">CHF 44.95</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
