{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    </head>
    <h1>"L'innovation que vous adorez"</h1>
    <div class="Images">
        <img class="Perfume3" src="{{ url_for('static', filename='pictures/pefumeclean.jpg') }}" alt=""
             width="300" height="300">
        <img class="menperfume" src="{{ url_for('static', filename='pictures/menperfume.jpg') }}" alt=""
             width="300" height="300">
    </div>


{% endblock %}