{% extends 'base.html' %}

{% block title %}Kontakt{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/kontakt.css') }}">
{% endblock %}

{% block content %}
    <div class="all">
        <h1 class="kontakt">Kontakt</h1>
        <h2 class="callus">Call us</h2>
        <h4 class="mail">velorée.shop@zkb.ch</h4>
        <div class="service">Service available from Monday to Friday 10 am to 6 pm
            <p>+41 00 000 00 00</p></div>
        <div class="box">
            <div class="fieldEmail">email</div>
            <div class="input-group flex-nowrap">

                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                       aria-describedby="addon-wrapping">
            </div>
            <div class="fieldMessage">message:</div>
            <div class="mb-3">

                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <button class="sendButton">Send</button>
        </div>
    </div>

{% endblock %}