{% extends 'base.html' %}

{% block title %}Konto{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/konto.css') }}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="login-box">
            <h2>Konto</h2>


            <form>
                <label for="email">Email Adresse</label>
                <input type="email" id="email" name="email">

                <label for="password">Passwort</label>
                <input type="password" id="password" name="password">

                <a href="#" class="forgot-password">Passwort vergessen?</a>
                <p class="nokonto">Kein Konto?</p>
                <a href="{{ url_for('createaccount') }}">
                    <button class="register-btn">Benutzer Konto erstellen</button>
                </a>
                <button type="submit" class="login-btn">Anmelden</button>
            </form>
        </div>
    </div>
{% endblock %}
