{% extends 'base.html' %}

{% block title %}Kontakt{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/kontakt.css') }}">
{% endblock %}

{% block content %}
    <div class="all">
        <h1 class="kontakt">Kontakt</h1>
        <h2 class="callus">Rufe an</h2>
        <h4 class="mail">velorée.shop@zkb.ch</h4>
        <div class="service">Service verfügbar von Montag bis Freitag 10-19 Uhr
            <p>+41 86 234 33 20</p></div>
        <div class="box">
            <div class="fieldEmail">Email</div>
            <div class="input-group flex-nowrap">

                <input type="text" class="form-control" placeholder="E-Mail" aria-label="Benutzername"
                       aria-describedby="addon-wrapping">
            </div>
            <div class="fieldMessage">Nachricht</div>
            <div class="mb-3">

                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <button class="sendButton"><a href="{{ url_for('message') }}">Send</a></button>
        </div>
    </div>

{% endblock %}