{% extends 'base.html' %}

{% block title %}Menu{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
{% endblock %}
{% block content %}

    <div class="menu-container">
        <h1>Menü</h1>
        <div class="menu-items">
            <a href="{{ url_for('home') }}" class="menu-item">
                <div class="menu-icon home-icon"></div>
                <span>Home</span>
            </a>
            <a href="{{ url_for('ueberuns') }}" class="menu-item">
                <div class="menu-icon about-icon"></div>
                <span>Über uns</span>
            </a>
            <a href="{{ url_for('frauen') }}" class="menu-item">
                <div class="menu-icon women-icon"></div>
                <span>Frauen Parfüm</span>
            </a>
            <a href="{{ url_for('maenner') }}" class="menu-item">
                <div class="menu-icon men-icon"></div>
                <span>Männer Parfüm</span>
            </a>
            <a href="{{ url_for('unisex') }}" class="menu-item">
                <div class="menu-icon unisex-icon"></div>
                <span>Unisex Parfüm</span>
            </a>
            <a href="{{ url_for('kontakt') }}" class="menu-item">
                <div class="menu-icon contact-icon"></div>
                <span>Kontakt</span>
            </a>
            <a href="{{ url_for('konto') }}" class="menu-item">
                <div class="menu-icon account-icon"></div>
                <span>Konto</span>
            </a>

            <a href="{{ url_for('warenkorb') }}" class="menu-item">
                <div class="menu-icon cart-icon"></div>
                <span>Warenkorb</span>
            </a>
        </div>
    </div>

{% endblock %}
