{% extends 'base.html' %}

{% block title %}Über uns{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/parfumepage.css') }}">
{% endblock %}

{% block content %}
    <div class="container3">
        <div>
            <h1 class="titleA">Velorée Homme</h1>
        </div>
        <div class="container1">

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='imagesZKB/FemmeBlackBack.png') }}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='imagesZKB/FemmeFlavor.png') }}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='imagesZKB/FemmeFlavorBack.png') }}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

        </div>
        <div class="container2">
            <h2 class="zwei">Eau de Parfum</h2>

            <label class="option">
                <input type="radio" name="size" checked>
                <span>25ml</span>
                <span>20 CHF</span>
                <span class="online-status new">🔶 Bald neu bei uns</span>
            </label>

            <label class="option">
                <input type="radio" name="size">
                <span>50ml</span>
                <span>45 CHF</span>
                <span class="online-status unavailable">🔴 Nicht auf Lager</span>
            </label>

            <label class="option">
                <input type="radio" name="size">
                <span>100ml</span>
                <span>85 CHF</span>
                <span class="online-status available">🟢 Online: auf Lager</span>
            </label>

            <label class="option">
                <input type="radio" name="size">
                <span>200ml</span>
                <span>112 CHF</span>
                <span class="online-status available">🟢 Online: auf Lager</span>
            </label>
        </div>
    </div>
{% endblock %}
