{% extends 'base.html' %}

{% block title %}Über uns{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/parfumepage.css') }}">
{% endblock %}

{% block content %}
    <div class="container3">
        <div>
            <h1 class="titleA">Verlorée Homme</h1>
        </div>
        <div class="container1">

            <img class="pic" src="{{ url_for('static', filename='imagesZKB/HommeBlackBack.png') }}">
        </div>
        <div class="container2">
            <h2 class="zwei">Eau de Parfum</h2>

            <label class="option">
                <input type="radio" name="size" checked>
                <span>25ml</span>
                <span>20 CHF</span>
                <span class="online-status new">🔶 Bald neu bei uns</span>
            </label>

            <label class="option">
                <input type="radio" name="size">
                <span>50ml</span>
                <span>45 CHF</span>
                <span class="online-status unavailable">🔴 Nicht auf Lager</span>
            </label>

            <label class="option">
                <input type="radio" name="size">
                <span>100ml</span>
                <span>85 CHF</span>
                <span class="online-status available">🟢 Online: auf Lager</span>
            </label>

            <label class="option">
                <input type="radio" name="size">
                <span>200ml</span>
                <span>112 CHF</span>
                <span class="online-status available">🟢 Online: auf Lager</span>
            </label>
        </div>
    </div>
{% endblock %}
