{% extends 'base.html' %}

{% block title %}Passwort vergessen{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/passwortvergessen.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="reset-box">
            <h2>Passwort zurücksetzen</h2>
            <p>Gib deine Email-Adresse ein, um dein Passwort zurückzusetzen.</p>

            <form action="{{ url_for('reset_password') }}" method="POST">
                <label for="email">Email Adresse</label>
                <input type="email" id="email" name="email" required>


                <label for="code">Bestätigungscode</label>
                <input type="text" id="code" name="code" required maxlength="6" pattern="[0-9]{6}">





                <a href="{{ url_for('home') }}" class="reset-btn">Passwort zurücksetzen</a>
            </form>

            <a href="{{ url_for('konto') }}" class="back-link">Zurück zum Login</a>
        </div>
    </div>
{% endblock %}
