{% extends 'base.html' %}

{% block title %}Warenkorb{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/warenkorb.css') }}">
{% endblock %}

{% block content %}

    <div class="cart-container">
        <div class="cart-header">
            <h1 class="cart-title">Warenkorb</h1>
            <div class="cart-line"></div>
        </div>

        {% if cart %}
            <div class="cart-content">
                {% for item in cart %}
                    <div class="cart-item">
                        <img src="{{ item.image }}" alt="{{ item.name }}" class="cart-image">
                        <div class="text7">
                            <p class="infos"><strong>{{ item.name }}</strong></p>

                            <p>Größe: {{ item.size }}</p>
                            <p>Preis: {{ item.price }} CHF</p>

                        </div>
                    </div>
                {% endfor %}


                <div class="cart-button-container">

                    <a href="{{ url_for('home') }}" class="back">
                        <button class="checkout-button">Weiter einkaufen</button>
                    </a>
                    <a href="{{ url_for('zahlungversand') }}" class="checkout-link">
                        <button class="checkout-button">Weiter zur Kasse</button>
                    </a>
                </div>
                <a href="{{ url_for('clear_cart') }}">
                    <button class="leeren">Warenkorb leeren</button>
                </a>

            </div>
        {% else %}
            <div class="empty-cart-box">
                <p class="empty-cart-text">Dein Warenkorb ist leer.</p>
                <p class="empty-cart-description">Füge Produkte hinzu, um mit dem Einkaufen zu beginnen.</p>
            </div>
        {% endif %}
    </div>
    <form action="{{ url_for('add_to_cart') }}" method="POST">
        <input type="hidden" name="product_name" value="Verlorée Femme">
        <input type="hidden" name="size" id="selected_size" value="25ml">
        <input type="hidden" name="price" id="selected_price" value="20 CHF">
        <input type="hidden" name="image" value="{{ url_for('static', filename='imagesZKB/FemmeBlackBack.png') }}">

    </form>


    <script>
        document.querySelectorAll(".option input").forEach(radio => {
            radio.addEventListener("change", function () {
                document.getElementById("selected_size").value = this.nextElementSibling.textContent;
                document.getElementById("selected_price").value = this.nextElementSibling.nextElementSibling.nextElementSibling.textContent;
            });
        });
    </script>


{% endblock %}
