{% extends 'base.html' %}

{% block title %}Zahlungsversand{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/zahlungversand.css') }}">
{% endblock %}

{% block content %}
    <div class="title">
        <h1 class="zahlung">Zahlung & Versand</h1>
    </div>

    <div class="lieferung">
        <div class="boxLieferung">
            <button class="buttonLief" onclick="updateTotal(7.95)">
                <p class="textT">Lieferung</p>
                <p class="textP">Ab CHF 7.95</p>
            </button>
        </div>
        <div class="boxClick">
            <button class="buttonLief1" onclick="updateTotal(4.95)">
                <p class="textT">Click & Collect</p>
                <p class="textP">Bei der Hardbrücke</p>
                <p class="textP1">CHF 4.95</p>
            </button>
        </div>
    </div>

    <div class="cart-content1">
        {% for item in cart %}
            <div class="cart-item">
                <img src="{{ item.image }}" alt="{{ item.name }}" class="cart-image">
                <div class="text7">
                    <p class="infos"><strong>{{ item.name }}</strong></p>
                    <p>Größe: {{ item.size }}</p>
                    <p>Preis: {{ item.price }} CHF</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="subtitle">
        <p class="textT">Zusammenfassung der Bestellung</p>
    </div>
    <div class="bestellung">
        <div class="zusammenfassung">
            <div class="preisProdukt">
                <p class="textP">Gesamtbetrag:</p>
                <p class="preis" id="total-price">CHF {{ total_price|round(2) }}</p>
            </div>
            <div class="linie"></div>
        </div>
    </div>

    <div class="gutscheinzahlung">
        <input class="gutscheincode" type="text" placeholder="Gutschein-/Rabattcode" id="gutscheincode" aria-label=".form-control-lg example">
        <button class="einloesen" onclick="applyDiscount()">Einlösen</button>
    </div>

    <div class="rabatt-info">
        <p class="rabatt-text">Rabatt: 20% (nur bei Bestellungen über 100 CHF mit dem Code "2025")</p>
    </div>

    <div class="gutscheincode-bestätigung" id="gutschein-bestätigung">

    </div>

    <a href="{{ url_for('zahlen') }}">
        <button class="zahlbox">
            <p class="textT">Zahlen</p>
        </button>
    </a>

    <script>
        let baseTotal = {{ total_price|round(2) }};
        let selectedShippingCost = 0;

        function updateTotal(shippingCost) {
            selectedShippingCost = shippingCost;
            let newTotal = baseTotal + selectedShippingCost;
            document.getElementById("total-price").innerText = `CHF ${newTotal.toFixed(2)}`;
        }

        function applyDiscount() {
            const code = document.getElementById("gutscheincode").value;
            let totalPrice = baseTotal + selectedShippingCost;


            if (code === "2025" && totalPrice > 100) {
                let discount = totalPrice * 0.20;
                totalPrice -= discount;
                document.getElementById("total-price").innerText = `CHF ${totalPrice.toFixed(2)}`;
                document.getElementById("gutschein-bestätigung").innerText = "Erfolgreiches Abziehen mit Code 2025!";
                document.getElementById("gutschein-bestätigung").style.color = "green";
            } else if (code === "2025" && totalPrice <= 100) {
                document.getElementById("gutschein-bestätigung").innerText = "Rabatt nur für Bestellungen über 100 CHF gültig!";
                document.getElementById("gutschein-bestätigung").style.color = "red";
            } else {
                document.getElementById("gutschein-bestätigung").innerText = "Dieser Gutscheincode gibt es nicht!";
                document.getElementById("gutschein-bestätigung").style.color = "red";
            }
        }
    </script>
{% endblock %}
