.register-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    margin-bottom: 10%;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;

}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4B0082;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 7%;

}

.register-btn:hover {
    background-color: midnightblue;
}
