.box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 250px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.fieldEmail {
    font-size: 18px;
    padding-bottom: 5px;
}

.line {
    margin-top: 15px;
    width: 50%;
    height: 1px;
    background-color: black;
    margin-bottom: 10px;
}

.fieldMessage {
    font-size: 18px;
    margin-top: 10px;
}

.sendButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.all {
    padding-left: 100px;
}

.kontakt {
    /*text-decoration: underline;
    font-size: 40px;*/
    text-decoration: underline;
    font-size: 40px;
    color: #222;
    font-weight: bold;
    margin-bottom: 10px;
}

.callus {
    /*text-decoration: underline;
    font-size: 25px;

     */
    margin-top: 25px;
    text-decoration: underline;
    font-size: 25px;
    color: #444;
    font-weight: bold;
    margin-bottom: 25px;
}

.service {
    margin-top: 50px;
    word-wrap: break-word;
    margin-bottom: 100px;
}
.mail{
    font-size: 20px;
    color: #4B0082;
    font-weight: bold;
    margin-bottom: 10px;
}
.service{
    font-size: 18px;
    color: dimgray;
    font-style: italic;
    margin-top: 20px;
    padding: 10px;
    border-left: 4px solid #4B0082;
}
.sendButton {
    background-color: #4B0082;

}