.menu-list {
    text-decoration: none;
    padding: 0;
}
.menu-list li {
    margin-bottom: 10px;
}
.menu-list a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: black;
}