
.erfolgreich {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.daten {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;

}


.artikels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}




.text7, .preis {
    font-size: 25px;
}

.lila {
    color: #4B0082;
}


.datatext {
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.dataschutz {
    display: flex;
    justify-content: center;

}
