body {
    background-color: #ffffff;

    margin: 0;
    padding: 0;
}

.cart-container {
    max-width: 1000px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.cart-header {
    text-align: center;
    margin-bottom: 20px;
}

.cart-title {
    font-size: 2.5em;
    font-weight: 600;
    color: #333;
}

.cart-line {
    width: 100px;
    height: 2px;
    background-color: #161377;
    margin: 20px auto;
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.empty-cart-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: #f9f9f9;
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 15%;
}

.empty-cart-text {
    font-size: 1.8em;
    color: #333;
    margin: 0;
    font-weight: 600;
}

.empty-cart-description {
    font-size: 1.2em;
    color: #888;
    margin-top: 10px;
      margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 5%;
    width: 600px;

}

.checkout-link {
    text-decoration: none;
}

.checkout-button {
    padding: 15px 35px;
    background-color: #4B0082;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 35%;
}

.checkout-button:hover {
    background-color: #4B0082;
    transform: scale(1.05);
}
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.leeren {
    background-color: white;
    color: #4B0082;
    border-radius: 10px;
    border: 2px solid #4B0082;
    padding: 10px;
}
.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 4%;
}

.cart-item img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.cart-details p {
    margin: 5px 0;
}


.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 4%;
    width: 100%;
}

.cart-item img.cart-image {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.cart-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.cart-item .lena {
    width: 25px;
    height: auto;
    cursor: pointer;
    margin-left: auto;
}

