.title{
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    border: 3px solid black;
    width: 300px;
    height: auto;
    border-radius: 15px;

}
.containerp{
    display: flex;
    justify-content: center;
}
.buttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.button1{

}