.zahlung {
    font-size: 40px;
}

.title {
    display: flex;
    justify-content: center;

}



.lieferung {
    display: flex;
    justify-content: center;

}

.box1 {
    border: solid black;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxLieferung {
    padding-left: 15%;
    margin-top: 2%;
}

.boxClick {
    padding-right: 8%;
    border-left: 2px solid black;
    padding-left: 17%;

}

.textT {
    font-size: 187.5%;
}

.produktcontainer {
    margin-bottom: 50%;

}

.subtitle {
    display: flex;
    justify-content: center;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
}


.zusammenfassung {
    margin-left: 15%;
    margin-right: 15%;
}

.linie {
    border: solid black;
}

.gutscheinzahlung {
    display: flex;
    flex-direction: row;
    gap: 30%;
}

.gutscheincode {
    margin-left: 15%;
    border: solid black;
    padding: 2%;
    border-radius: 20px;
}

.gutscheincode::placeholder {
    font-family: "Comic Sans MS", sans-serif;
/ font-size: 12 px;
    color: grey;

}
.bestellung{
    padding-right: 15%;
    padding-left: 15%;
}

.zahlbox {
    background-color: #4B0082;
    color: white;
    display: flex;
    border: solid black;
    width: 200%;
    border-radius: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.textT {
    margin: 0;
    width: 100%;
    text-align: center;
}
.cart-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;

}
.buttonLief, .buttonLief1 {
    background-color: white;
    border: white;
}
.buttonLief1{
    margin-right: 15%;
}
.preisProdukt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
}
.preis {

}